body {
    background-color : #5d6dbd ;
    font-family: sans-serif;
    margin: 30px;
}
img {
    width: 200px;
    height: 200px;
}
h1 {
    color: white;
}
.sub-judul {
    color: red;
    font-size: 25px;
}
a {
    color: white;
}

.menu li {
    display: inline-block;
    padding: 20px;
    margin: 10px;
}
.table {
    border: 2px;
    border-color: white;
}